body div.content {
    padding: 0px;
    flex-direction: column;
}

section {
    min-width: 100vw;
}




/* --- SECTION PRESENTACIÓN --- */

section#presentation {
    height: 150vh;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

svg#cattoLogo {
    top: -25%;
    left: -15%;
    width: 85vmax;
    position: absolute;
    opacity: 1;
    fill: #f0f0f0;
    z-index: 550;
    filter: drop-shadow(0px 0px 60px #9d00ff80);
    animation: brillo 4s infinite;
}

@keyframes brillo {
    0% {
        filter: drop-shadow(0px 0px 60px #9d00ff80);
    }

    50% {
        filter: drop-shadow(0px 0px 90px #9d00ffd0);
    }

    100% {
        filter: drop-shadow(0px 0px 60px #9d00ff80);
    }
}

section#presentation > div.text {
    position: absolute;
    z-index: 500;
    top: 30vh;
    right: 20px;
    display: flex;
    flex-direction: column;
    max-width: 40vmax;
    font-family: whitney;
    color: #fff;
    width: 400px;
    align-items: center;
}

.text > h1 {
    font-size: 158px;
    margin: 5px;
    width: 400px;
    text-align: center;
}

.text > h2 {
    font-size: 31px;
    margin-top: 0px;
    width: 400px;
    text-align: center;
}

.text > p.advert {
    border: solid 2px #fee528;
    padding: 15px;
    border-radius: 10px;
    background-color: #fee52830;
    width: 350px;
}

.text > div.buttons {
    display: flex;
    width: 380px;
    flex-direction: row;
    gap: 10px;
}

.text button {
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}




/* --- SECTION INFO --- */

#info {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    font-family: whitney, Arial;
}

.slider {
    position: relative;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    left: 0px;
    bottom: 0px;
    height: 500px;
    background: linear-gradient(to right, #0005, transparent 5%, transparent 95%, #0005);
    z-index: 500;
}

.control svg {
    height: 50px;
    fill: #fff;
    cursor: pointer;
}

.pages {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    flex-flow: row nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pages > div {
    scroll-snap-align: start;
    min-width: 100vw;
    max-height: 400px;
    height: 400px;
    color: #fff;
    display: flex;
    border: solid 2px #000;
    flex-direction: column;
    justify-content: start;
    padding: 0px 80px;
    position: relative;
}

.pages h3 {
    font-size: 48px;
    width: 350px;
    text-align: start;
}

.pages p {
    font-size: 20px;
    width: 70vw;
    text-align: start;
}

.pages svg.first {
    position: absolute;
    fill: #aaa;
    opacity: 1;
    height: 550px;
    transform: rotateX(30deg) rotateY(-15deg) translateY(40px);
    bottom: -15px;
    right: -20px;
    transition: all 0.3s;
}

.pages svg.second {
    position: absolute;
    fill: #000;
    opacity: .5;
    height: 550px;
    transform: rotateX(30deg) rotateY(-15deg) translateY(40px) translateZ(-50px);
    bottom: -15px;
    right: -20px;
    transition: all 0.3s;
}